In [2]:
import numpy as np
import pandas as pd

from metar_taf_parser.parser.parser import MetarParser

import requests
from datetime import datetime, timedelta

In [41]:
messages = [
    "LFPG 052000Z VRB02KT 9999 FEW033 OVC046 05/01 Q1013 NOSIG",
    "EHAM 051955Z 23006KT 9999 FEW013 FEW024TCU BKN045 02/01 Q1011 TEMPO -SHRA",
    "KSEA 051953Z 02006KT 10SM FEW020 SCT060 BKN230 07/M01 A2972 RMK AO2 SLP071 T00721006 $",
    "KATL 051952Z VRB04KT 10SM CLR 22/04 A3016 RMK AO2 SLP209 T02170044 $",
    "KORD 051951Z 08009KT 10SM FEW200 BKN250 09/M02 A3021 RMK AO2 SLP234 T00941017",
    "EGLL 051950Z AUTO 28006KT 9999 FEW025 BKN038 OVC046 04/M00 Q1013",
]

In [47]:
results = []
for msg in messages:
    metar = MetarParser().parse(msg)

    results.append(
        dict(
            icao=metar.station,
            day=metar.day,
            time=metar.time,
            wind_speed=metar.wind.speed,
            wind_gust=metar.wind.gust if metar.wind.gust else 0,
            temperature=metar.temperature,
            dew_point=metar.dew_point,
        )
    )

    # cloud = {}
    # for cloud in metar.clouds:
    #     cloud.quantity.name
    #     cloud.height

In [48]:
pd.DataFrame.from_dict(results)

   icao  day      time  wind_speed  wind_gust  temperature  dew_point
0  LFPG    5  20:00:00           2          0            5          1
1  EHAM    5  19:55:00           6          0            2          1
2  KSEA    5  19:53:00           6          0            7         -1
3  KATL    5  19:52:00           4          0           22          4
4  KORD    5  19:51:00           9          0            9         -2
5  EGLL    5  19:50:00           6          0            4          0

In [50]:
metar_df = pd.DataFrame()

# Loop through each date in the date range
start_dt = datetime(2018, 1, 1)
end_dt = datetime(2018, 1, 10)
delta = timedelta(days=1)

while start_dt <= end_dt:
    date_str = start_dt.strftime("%Y%m%d")

    # Loop through each airport code and retrieve the METAR data
    for airport_code in airport_list:
        url = f"https://aviationweather.gov/metar/data?ids={airport_code}&format=raw&date={date_str}&hours=00&mostRecent=true"
        response = requests.get(url)
        metar_list = response.text.split("\n")

        # Decode the METAR data and add it to the DataFrame
        # metar_df = pd.concat([metar_df, decode_metar_vectorized(metar_list)])
        metar_df = decode_metar_vectorized(metar_list)
        print(metar_df)

    # Increment the date by one day
    start_dt += delta

return metar_df

NameError: name 'datetime' is not defined